<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	</title>
</head>
<body background="/static/background-images-for-websites-12.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<h1 align="center">
		<font face="Lato" size="7">
			WELCOME TO LOGO COMPARATOR<br>LETS GET STARTED
		</font>
	</h1>

	<br />
	<h3 align="center">
	<a href="/steps">
		<font face="Lato" color="#000">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;

	</h3>
</body>
</html>