{% extends 'base.html' %}

{% block content %}

<h2>FOLLOW THE STEPS TO USE THE COMPARATOR</h2>

<br><br><br><br><br><br>
<br>

<h2>STEP 1 - CLICK ON THE COMPARATOR TAB IN THE MENU </h2>

<img src=/static/step1.JPG>

<br><br><br><br><br><br>
<br>

<H2>STEP 2 - CLICK ON CHOOSE FILE AND SELECT YOUR LOGO AS A JPG IMAGE</H2>
<img src=/static/step2.JPG>
<img src=/static/step2_2.JPG>

<br><br><br><br><br><br>
<br>

<h2>STEP 3 - CLICK ON SUBMIT AND WAIT FOR THE RESULTS</h2>
<img src=/static/step3.JPG>
<img src=/static/step4.JPG>
<img src=/static/step5.JPG>



    {% endblock %}
 